.direnv
build
**/build
*.tsbuildinfo
solid
test-results
node_modules
.mcp
# Output
.output
.vercel
.netlify
.wrangler
/build
dist
.solid
.vinxi
app.config.timestamp_*.js

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
